@import url("../css/settings.css");

.hero {
  height: 843px;
  display: flex;
}
.image {
  background: linear-gradient(to top, #9a0c2666, #9a0c2666),
    url("../assets/Rectangle\ 14.png") no-repeat bottom;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.container {
  width: 50%;
}

.menu {
  margin: 26px auto 0 auto;
}

.menu ul {
  margin: 0 120px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: "Lora", serif;
  color: var(--color_body_text);
}

.menu ul li:last-child {
  background: url("../assets/search\ 1.png") no-repeat center;
  width: 19px;
}

li {
  margin: 0 10px;
}

.header {
  margin: 300px 0;
  text-align: center;
}

h1 {
  color: var(--color_body_text);
  font-size: 96px;
  font-family: "Kaushan Script", cursive;
}

h2 {
  font-family: "Lora", serif;
  font-size: 24px;
  color: var(--color_red);
}
