@import url("../css/settings.css");

.nav {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.menu {
  margin: 26px 0 0 0;
  /* width: 50%; */
  display: flex;
  justify-content: flex-end;
  min-width: 50%;
}

.menu ul {
  width: 100%;
  /* margin: 0 80px; */
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: "Lora", serif;
  color: var(--color_body_text);
}

.menu ul li:last-child {
  background: url("../assets/search\ 1.png") no-repeat center;
  width: 19px;
  flex-shrink: 0;
}

li {
  margin: 0 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color_body_text);
}

li:hover,
a:hover {
  color: var(--color_red);
}
